/* Reset básico e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header.hero {
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://gpit-glps.innogamescdn.com/media/grepo/images/background-grepo-city-building-section.9cab004f.jpg');
    color: #fff;
    padding: 80px 0;
    text-align: center;
    background-size: cover;
    background-position: center top;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.scripts-section {
    background: url('../assets/images/back-meio.png') center top no-repeat;
    background-size: cover;
    padding: 50px 0;
}

#scripts {
    background-color: rgba(0, 0, 0, 0.5); /* Adicione um fundo escuro para melhor contraste */
}

#scripts h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

.scripts-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.script-card {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    width: calc(50% - 40px);
    margin-bottom: 40px;
}

.script-card h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.script-card p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #0f4c75;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3282b8;
}

.btn i {
    margin-left: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
